* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ------ */
/* header */
/* ------ */

header {
  background-color: #a172e3;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10%;
}

.logo {
  display: flex;
  align-items: flex-end;
}
.logo img {
  height: 25px;
  align-self: flex-end;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 850px;
}

.navlinks a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16pt;
}

.navlinks a:hover {
  opacity: 0.5;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}

.header h2 {
  color: #ffffff;
  font-size: 40pt;
  line-height: 1.5em;
  font-weight: 400;
}

.header h3 {
  color: #ffffff;
  font-size: 40pt;
  font-weight: 500;
  line-height: 1.5em;
}

.header .button {
  background-color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  margin-top: 40px;
}

.header .button a {
  text-decoration: none;
  font-size: 18pt;
  font-weight: bold;
  /* color: #ffffff; */
  color: #a172e3;
}

.header img {
  max-width: 300px;
}

/* ---- */
/* main */
/* ---- */

article {
  padding: 50px 10% 100px 10%;
}

article h2 {
  color: #574e55;
  text-align: center;
  font-size: 35pt;
  padding: 20px 0% 60px 0%;
}

article h3 {
  color: #574e55;
  text-align: center;
  font-size: 22pt;
  padding: 10px 0%;
}

article p {
  color: #31292f;
  font-size: 14pt;
  line-height: 1.8;
}

.container {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}

#courses {
  background-color: #f3e4ff;
}

#courses .column {
  border: 8px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin: 50px;
}

#courses .column p {
  text-align: center;
}

#courses i {
  font-size: 35pt;
  color: #574e55;
}

footer {
  background-color: #a172e3;
}

/* @media screen and (max-device-width: 800px) { */
/* } */
