/* -------------- */
/* General styles */
/* -------------- */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h1 a,
h2,
h2 a,
h3,
h3 a {
  color: #31292f;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h1,
h1 a {
  font-weight: 700;
  font-size: 38pt;
  padding-top: 100px;
  padding-bottom: 40px;
  line-height: 1.2em;
}

h2,
h2 a {
  font-weight: 600;
  font-size: 25pt;
  padding-top: 40px;
  padding-bottom: 30px;
  line-height: 1.2em;
}

h3,
h3 a {
  font-weight: 500;
  font-size: 20pt;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 1.2em;
}

section {
  padding-bottom: 100px;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #703793;
}

a:hover {
  text-decoration: none;
  color: #703793;
  opacity: 0.5;
}

p {
  color: #574e55;
  font-size: 14pt;
  line-height: 1.8;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1.5em;
}

ul {
  list-style-type: none;
  margin: 20px 20px 0px 0px;
}

li {
  margin-bottom: 1em;
}

/* ----------------- */
/* Header and navbar */
/* ----------------- */
header {
  height: 100vh;
  padding-bottom: 20px;
  background: #a172e3;
}

nav ul {
  padding-top: 30px;
  padding-bottom: 0px;
  margin: 0px;
}

nav a {
  color: #ffffff;
  font-size: 1.1em;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background: none;
}

.cover img {
  max-width: 500px;
  width: 60%;
}

.cover h1 {
  color: #ffffff;
  font-size: 45pt;
  font-weight: bold;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px;
  line-height: 1em;
}

.button-join {
  color: #ffffff;
  background-color: #a172e3;
  border: 2px solid #ffffff;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.7em 1em;
}

.button-join:hover {
  color: #a172e3;
  background-color: #ffffff;
  opacity: 1;
}

/* Prevent container from nav to get reduced on mid size displays */
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav-container {
    max-width: 930px;
  }
}

/* Change style of header on mid size displays */
@media (max-width: 767.98px) {
  nav ul {
    padding-top: 0px;
  }

  nav li {
    padding: 5px;
  }

  .nav-container {
    margin: 0px;
  }

  .cover img {
    max-width: 400px;
    width: 40%;
  }

  .cover h1 {
    font-weight: normal;
    font-size: 2.5em;
  }

  .button-join {
    font-size: 1em;
  }
}

/* Reduce width of header img on some landscape displays */
@media (max-height: 800px) {
  .cover img {
    max-width: 300px;
  }
}

/* -------- */
/* Sections */
/* -------- */

.quote {
  max-width: 760px;
  margin: 0 auto;
  padding: 2%;
  background-color: #fffbca;
}

.quote p {
  font-family: "Kalam", cursive;
  font-size: 16pt;
}

@media (max-width: 576px) {
  .quote {
    margin: 10px;
  }
}

/* Our courses section style */
.course {
  padding-bottom: 30px;
}

.course .card {
  border: 5px solid white;
  background-color: #f3e4ff;
  height: 100%;
}

.course i {
  font-size: 1.6em;
}

/* Achievement section style */
.achievement-card {
  background-color: #ffffff;
  border: none;
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Reduce size of headers on very small screens */
@media (max-width: 575.98px) {
  h1 {
    font-size: 33px;
  }
}

/* ------ */
/* Footer */
/* ------ */
footer {
  background-color: #a172e3;
  padding: 1em 1.5em;
  text-align: center;
}

footer a,
footer p {
  color: #ffffff;
  font-size: 10pt;
  line-height: 1.4em;
}
